<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= startingContent %></p>

<% post.forEach(function(post){ %>
    <h1><%= post.Title %></h1>
    <p><%= post.Post%></p>
<% }) %>

<%- include("partials/footer") -%>